<!DOCTYPE HTML>
<html>
<meta name="theme-color" content="#00895f"/>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="format-detection" content="telephone=no">
<title>Paathshala</title>
<meta name="HandheldFriendly" content="True"/>
<meta content="yes" name="apple-mobile-web-app-capable"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0"/>
<meta name="keywords" content="CBSE Study Material, ICSE, NCERT Solutions, CBSE Sample Papers, Live Classes, SSC, HSC, CBSE Question Papers, CBSE Solutions, Tutorials, Guess question paper, sample papers, Model question Paper, PSA, Board paper solutions, Revision Notes, Meritnation, Meritnation.com, CPT, IITJEE, AIPMT, NDA, BBA"/>
<meta name="description" content="Meritnation provides Live Classes, Study Material, Animated Videos, Solved sample papers, NCERT Solutions, Textbook solutions, Revision notes & more for CBSE, ICSE, Maharashtra, Karnataka, Tamil Nadu & Kerala board for Class 1 to Class 12, CPT, IITJEE, AIPMT & more."/>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<script type="text/javascript">var _sf_startpt=(new Date()).getTime()</script>
<meta name="verify-v1" content="nnPFvTK+7rE8PWeH+1DTOVecT884gR8rM3y+OKjtfII="/>
<link href="https://fonts.googleapis.com/css?family=Open+Sans:800|Roboto:300,400,500,700" rel="stylesheet">
<link rel="icon" href="/meritnation.ico?v=2" type="image/x-icon"/>
<link rel="shortcut icon" href="/meritnation.ico?v=2" type="image/x-icon"/>
<link rel="alternate" media="only screen and (max-width: 640px)" href="http://m.meritnation.com">
<meta property="fb:admins" content="1060881012"/><meta http-equiv="imagetoolbar" content="no"/>
<meta name="google-site-verification" content="Xb4SfV9E2GnjgzIS0uUbxm9S-jbKWSKHSGwL-W1CSFk"/>
<meta name="alexaVerifyID" content="IDCZ4Nyy1rDKeaiExkO7c8KP2sE"/>
<meta name="copyright" content="2011 @ meritnation.com"/>
<meta name="content-language" content="EN,Hindi"/>
<meta name="author" content="www.meritnation.com"/>
<meta name="resource-type" content="document"/>
<meta name="distribution" content="GLOBAL"/>
<meta name="revisit-after" content="1 day"/>
<meta name="rating" content="general"/>
<meta name="pragma" content="no-cache"/>
<script>
    var mnImgSiteContentUrl = "http://img1.mnimgs.com";
    var mnAngularModules = [];
</script>
<meta name="classification" content="Find Center Board Secondary Education exam preparation solutions with revision notes, model paper, solved papers, CBSE tutorials, CPT, IITJEE, AIPMT study material."/>
<meta property="fb:admins" content="1060881012"/><link rel="stylesheet" type="text/css" href="http://css3.mnimgs.com/css/homepagenew/home.css?version=21102016" media="screen"/>
<link rel="stylesheet" type="text/css" href="http://css3.mnimgs.com/theme/newNav/css/mn_register_popup.css?version=21102016"/>
<link rel="stylesheet" type="text/css" href="http://css3.mnimgs.com/css/validation.css?version=21102016"/>
<link rel="stylesheet" type="text/css" href="http://css3.mnimgs.com/css/fb.css?version=21102016"/>
<link rel="stylesheet" type="text/css" href="http://css3.mnimgs.com/css/fb1.css?version=21102016"/>
<link rel="stylesheet" type="text/css" href="http://css3.mnimgs.com/theme/newNav/css/style.css?version=21102016"/>
<link rel="stylesheet" type="text/css" href="http://css3.mnimgs.com/css/mn-font.css?version=22102016"/>
<link rel="stylesheet" type="text/css" href="http://css3.mnimgs.com/theme/newNav/css/mn-popup-style.css?version=21102016"/>
<link rel="stylesheet" type="text/css" href="http://css3.mnimgs.com/css/tipped.css?version=21102016"/>
<script type="text/javascript" src="http://js3.mnimgs.com/js/jquery-1.7.min.js"></script>
<script type="text/javascript" src="http://js3.mnimgs.com/js/singlePageRegForm.js?version=19102016"></script>
<script type="text/javascript" src="http://js3.mnimgs.com/js/main_jquery.js?version=21102016"></script>
<script type="text/javascript" src="http://js3.mnimgs.com/js/MnRegistrationAll.js?version=19102016"></script>
<script type="text/javascript" src="http://js3.mnimgs.com/theme/newNav/js/mn-custom-popup-v1.1.js?version=21102016"></script>
<script type="text/javascript" src="http://js3.mnimgs.com/js/facebook.js?version=13102016"></script>
<script type="text/javascript" src="http://js3.mnimgs.com/theme/newNav/js/tooltip/spinners.js?version=21102016"></script>
<script type="text/javascript" src="http://js3.mnimgs.com/theme/newNav/js/tooltip/tipped.js"></script>
<script type="text/javascript" src="http://js3.mnimgs.com/theme/newNav/js/tooltip/tooltip-skin.js"></script>
<script type="text/javascript" src="http://js3.mnimgs.com/js/slick.min.js"></script>
<script type="text/javascript" src="https://code.createjs.com/createjs-2015.11.26.min.js"></script><script type="text/javascript" src="http://js3.mnimgs.com/js/homepagenew/homeScript.js?version=21102016"></script><script type="text/javascript" src="http://js3.mnimgs.com/static_content_live/js/staticMainBoard_js.js?v=ctn_19102016"></script>
<section class="merit-advantage">
<div class="row">
<!--<h1 class="text-uppercase">Paathshala: Connect, Meet, Learn.</h1>-->
<h1 style="text-align:center; font-size:48px; font-family: 'monotype corsiva';">Paathshala: Connect, Meet, Learn.</h1> 
<div class="canvas-large hidden-xs">
<canvas id="myCanvas" class="myCanvas" width="1110" height="457"></canvas>

<a href="#" class="advantage box-5 absolute">
<div class="advantage_text">
<span class="slogan">Find more about the team</span>
<span class="long-arrow"></span>
</div>
<div class="advantage_title">
<span class="">About <br/> Us</span>
</div>
</a>
 
<a href="login.html" class="advantage box-4 absolute">
<div class="advantage_text">
<span class="slogan">Login to your existing account, or register as a new user</span>
<span class="long-arrow"></span>
</div>
<div class="advantage_title">
<span class="">Login<br/> Signup</span>
</div>
</a>
 
<a href="#" class="advantage box-3 absolute">
<div class="advantage_text">
<span class="slogan">Get Solutions to all your Doubts Instantly</span>
<span class="long-arrow"></span>
</div>
<div class="advantage_title">
<span class="">Homework <br/> Help</span>
</div>
</a>
 
<a href="#" class="advantage box-2 absolute">
<div class="advantage_text">
<span class="slogan">Find your study materials the smart way</span>
<span class="long-arrow"></span>
</div>
<div class="advantage_title">
<span class="">Smart<br/> Study</span>
</div>
</a>
 
<a onclick="trackGaEvent('Homepage_New1','Online Tuitions','Online Tuitions');" href="http://www.meritnation.com/live" class="advantage box-1 absolute">
<div class="advantage_text">
<span class="slogan">Find your study partners.</span>
<span class="long-arrow"></span>
</div>
<div class="advantage_title">
<span class="">Connect<br/></span>
</div>
</a>
</div> 
</section> 
</html>